@font-face {
    font-family: 'CircularStd-Black';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/circular/CircularStd-Black.otf"); }
  
  @font-face {
    font-family: 'CircularStd-Book';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/circular/CircularStd-Book.otf"); }
  
  @font-face {
    font-family: 'CircularStd-Medium';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/circular/CircularStd-Medium.otf"); }
  
  @font-face {
    font-family: 'CircularStd-Bold';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/circular/CircularStd-Bold.otf"); }
  
  @font-face {
    font-family: 'CircularStd-Light';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/circular/CircularStd-Light.ttf"); }