<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Buy, sell & trade crypto effortlessly">

<!-- Libs CSS -->
<!-- build:css assets/fonts/feather/feather.min.css -->
<!-- <link rel="stylesheet" href="assets/fonts/feather/feather.css"> -->
<!-- endbuild -->
<!-- <link rel="stylesheet" href="node_modules/highlight.js/styles/vs2015.css">
<link rel="stylesheet" href="node_modules/quill/dist/quill.core.css">
<link rel="stylesheet" href="node_modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="node_modules/flatpickr/dist/flatpickr.min.css"> -->

<!-- Theme CSS -->

<link rel="stylesheet" href="assets/css/theme.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<title>@@title</title>